*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 40px 32px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}


.form__message--error {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
}

.welcome__text{
    text-align: center;
}

.bg__white{
    background: #fff;
    padding: 16px;
}

.bg__white .welcome__text, .bg__white .full_name{    
    color: #000 !important;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 32px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form__text {
    text-align: center;
    margin-top: 8px;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

.form--hidden {
    display: none;
}

.checkout__message{
    color: #fff;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
}

.cart_box{
    margin-top: 30px;
    margin-bottom: 32px;
}

p.cart_summary--title, p.location_head--title{
    display: block;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 500;
}

ul.cart_list {
    list-style: none;
    margin-top: 24px;
}

li.cart_item.flex{
display: flex;
justify-content: space-between;
margin-bottom: 16px;
}

.cart_item h4, .cart_item .price{
    margin-bottom: .5rem;
}

.cart_item .cart_image_name{
    display: flex;
}

.cart_item--category, .cart_item .qty{
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.cart_box .mt-5{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cart_box .total_price, .cart_box .total_amount{
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.cart_box hr{
    border-top: 1px solid #fff;
}


.radiobtn {
  position: relative;
  display: block;
}
.radiobtn label {
  display: block;  
  background-color: rgba(97, 154, 234, 0.16);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #9570C0;
  margin-bottom: 5px;
  cursor: pointer;
  margin-top: .5rem;
}
.radiobtn label:after, .radiobtn label:before {
  content: "";
  position: absolute;
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: rgba(97, 154, 234, 0.16);
}
.radiobtn label:before {
  background: transparent;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type=radio] {
  display: none;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radiobtn input[type=radio]:checked + label {
  background: rgba(97, 154, 234, 0.16);

  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-color: #9570C0;
}
.radiobtn input[type=radio]:checked + label:after {
  background-color: rgba(97, 154, 234, 0.16);
  color: #fff;
}
.radiobtn input[type=radio]:checked + label:before {
  width: 20px;
  height: 20px;
}


